data/*
Outils+Open+Source+MLOps.pdf
memo/*
pickle_files/**
**.pyc
.python-version
classifiers_exploration/*.gz
**/mlruns/**
mentorat.md
screenshots/**
.~lock.Note_methodologique.odt#
api/shap_output/**
script.sh 